/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
nav {
}

h1 {
  font-family: sans-serif;
  /* display: flex; */
  text-align: left;
}

img {
  height: 100vh;
  width: 100vh;
  display: inline-block;
  justify-content: center;
}

body {
 /* background-color: #ee5253 */
 /* background-image: url('burger-friends.jpg'); */
 background-size: 1100px 1100px;
}

.main-title {
  /* text-align: left; */
}

.nav-bar {
 display: flex;
 justify-content: center;
 background-color: #0fb9b1
}
/* form stuff below */
/* style="border:#ffffff; background-color:#ffffff; border-width:10px; border-style:outset;"> */
.cookpot-pic {
  height: 250px;
  width: 250px;
}

.add-recipe-button {
  border-radius: 20px

}

.lets-cook-button {
  background-color: #0fb9b1
  border-radius: 20px
}

#lets {
  background-color: #0fb9b1
}

#check-box {
 background-color: rgba(225, 225, 225, .9)
}

#lets-cook-button {
  background-color: #0fb9b1
}

#burger-background {
  height: 250px;
  width: 250px;
}

#cook-pot-pic {
  height: 200px;
  width: 200px;
  background-color: rgba(225, 225, 225, .9)
}
